/* These are the styles for Fruitopia */
/* * means every html tag, used sparingly*/
* {
    box-sizing: border-box;
}

body {
    max-width: 1900px;
    margin: 0 auto;
    font-family: raleway, arial, helvetica, sans-serif;
 /* 
    Fluid typography
    Viewport range is 320px - 1600px wide
    Font size will auto resize from 12px (minimum) to 20px (maximum)
    NOTE: Do not change 100vw. This is a constant in the formula
  */

  font-size: calc(12px + (20 - 12) * (100vw - 320px) / (1600 - 320));
}

.row {
    display: flex;
    flex-wrap: wrap; /*move to separate line*/
    /*border: thin dashed red;*/

}

/* Navigation*/

nav {
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(245, 245, 220, .9);
    position: sticky; /*nav always stay visible + top=0*/
    top: 0;
    z-index: 100; /*allows create layers if position something other than static*/
    margin-bottom: -85px; /*push the background picture up*/
    
}

nav a {
    margin: 0 1vw;
    padding: 3px 5px;
    color: #0a940a;
    font-size: .9em;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    /*clear bottom border so links do not jump when hovering*/
    border-bottom: thin solid rgba(0, 0, 0, .0);
}

/*you are here indicator*/
nav a.current {
    border-bottom: thin solid #0a940a;

}

/*all nav links except the first one*/

nav a:not(.logo-icon):hover {
    color: #f65f02;
    border-bottom: thin solid #f65f02;
    background-color: rgba(255, 255, 255, 0.5);
}

.logo-icon {
    display: inline-block; /*look like inline element but also function with margin and padding*/
    padding: 3px 10px;
    margin: 5px auto 5px 10px; /*auto right fly to the left*/
    max-height: 70px;
    font-size: 1.25em;
    line-height: 1.25;
    font-family: 'sonsie one', cursive;
    color: #e23222;
    border: 4px double #e23222;
    border-radius: 30%;
}
/* Header */

header {
    height: 60vh;
    min-height: 350px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top:100px;
}

header div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgba(255, 255, 255, .92);
    margin: 5vh 10vw;/*outside borders before that it was window width*/
    padding-top: 10px; /*added a little bit of space on top inside the borders*/
    border-radius: 10px; /*soften the corners*/
    border: px double #e22232;
    font-weight: bold;
    color: #f65f02;
}

.home header {
    height: 75vh;
    background-image: url(../images/sliced-citrus.jpg);
    background-position: top center;
}

header h1 {
    font-style: italic;
    font-family: 'sonsie one', cursive;
    font-size: 3em;
    color: #e23222;
    text-shadow: 3px 2px rgba(236,235,147,.75);
    margin: 0; /*tighten up the space in the box*/
}

header h1::first-letter {
    font-size: 2em;
    line-height: 1;
    margin-right: -.2em; /* bring first letter closer*/
}

h2 {
    font-size: 2em;
    font-family: 'sonsie one', cursive;
}

img {
   max-width: 100%; 
   object-fit: cover;
   border-radius: 5px;
}

/* button stylings */
.btn {
    width: 20%;
    padding: 6px;
    margin-top: auto; /**/
    text-decoration: none; /*remove underline*/
    text-align: center;
    border-radius: 5px;
}

.btn-order {
    background-color: #f65f02;
    color: #FFF;
    border: thin solid #FFF;

}

.btn-clear {
    align-self: center;
    border: thin solid #0a940a;
    color: #0a940a;
}

.btn:hover {
    background-color: #0a940a;
    color: #FFF;
}

.btn:active {
    background-color: #f5f5dc;
    color: #ed872d;
    border-color: #ed872d;
}
/*select div with the class="row"  that is the first
    immediate child of .home main*/
.home main>div.row {
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 40px 0;

}

.number-block {
    padding: 0 50px;
}

.number-block p {
  font-family: 'sonsie one', cursive;
  font-weight: bold;
  height: 1.5em;
  width: 1.5em;
  line-height: 1.5;
  margin: 1vh 0;
  border-radius: 50%;
  color: #0a940a;
  background-color: #FFF;
  text-align: center;
  font-size: 4.5em;
  box-shadow: 10px 5px 40px #e3f5ab, -10px -5px 50px #0a940a;  
}

.info-block {
    padding: 0 5px;
}

.info-block h2 {
    color: #0a940a;
}

.info-block p {
    margin-top: -20px;
}

.container-block {
    background-color: #f6f5b2;
    padding: 20px; /*give fruit musings a bit of space*/
}

.home .container-block {
    background-color:#0a940a;
    background: linear-gradient(to bottom, #0a940a 0%, #eef2a2 100%);
}

.container-block h2 {
    text-align: center;
    color: #f65f02; /*not on home but on all other pages*/
}

.home .container-block h2 {
    color: #fff;
}

.container-block div.row {
    justify-content: space-evenly;
    align-items: stretch;
}

.card {
    /*flex container propetires*/
    display: flex;
    flex-direction: column;

    /*flex item property*/
    flex-basis: 450px;

    /*general properties*/
    border: 2px solid #0a940a;
    background-color: #FFF;
    padding: 10px;
    margin: 1vw;
    border-radius: 40px;
}

.card img {
    border-radius: 30px 30px 0 0;

}

.card h3 {
    text-align: center;
    margin-bottom: 0;
}

.card p{
    margin: 0;
    padding: 1em;
    line-height: 1.5;
}

.parallax {
    min-height: 350px;
    background-image: url(../images/green-apples.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
}


/*like css in css, make new rules if a screen-width is 0-768px*/
@media screen and (max-width: 768px) {
    
    header,
    .home header {
        height: 50vh
    }

    .parallax {
        min-height: 200px;
    }
}